<section class="title" id="header">
	<div class="fh"><img src="img/fh.png" width="16"/><span>返回</span></div>
<div class="menu search1"><img src="img/menu.png"/></div>
	<div class="sub_menu">
		<ul>
			<li><a href="#/main">首页</a></li>
			<li><a href="#/azdj">单机</a></li>
			<li><a href="#/azdj">网游</a></li>
			<li class="sub_add1"><a href="#/azdj">应用</a></li>
			<li><a href="#/yxgl">攻略</a></li>
			<li><a href="#/xwzx">资讯</a></li>
		</ul>
	</div>
</section>
<div class="gai"></div>
<div class="clear"></div>
<ul class="details">
	<li><h4>{{title}}</h4></li>
	<li><img src="{{imgs}}"/></li>
	<li>{{content}}</li>
</ul>
<script src="js/common.js"></script>